$green0: #6e7f00
$green01: #2a300d
$green1: #4f5a19
$green11: #2f2a50
$red: #d33636
$maroon: #c62721
$yellow: #b58900
$teal: #179299
$lavender: #268bd2
$teal: #3b409d
$text: #191919
$subtext1: #5c5f77
$subtext0: #6c6f85
$overlay2: #7c7f93
$overlay1: #8c8fa1
$overlay0: #9ca0b0
$surface2: #acb0be
$surface1: #bcc0cc
$surface0: #ccd0da
$base: #fbf4ef
$mantle: #f7e9de
$crust: #f7e9de
$black: #000000
