html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  margin: 0;
  background-color: lavenderblush;
}

h1 {
  font-size: 2em;
}

nav li a {
  font-size: 1.4em;
}

ul,
ol,
p {
  font-size: 1.2rem;
}

p,
li {
  line-height: 1.4em;
}

a:link {
  color: #657b83;
}

a:visited {
  color: #657b83;
}

div#wrapper {
  margin: 0;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-bottom: 10vw;
}

ul#indexfill {
  list-style: none;
  font-weight: 500;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}

ul#indexfill li::before {
  content: "\00BB \0020";
  color: olive;
  -webkit-user-select: none;
}

nav,
main {
  float: none;
  clear: both;
  box-sizing: border-box;
}

main {
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: 1.5vw;
}

nav {
  background-color: #eee0e5;
  margin-left: auto;
  margin-right: auto;
}

nav ul {
  column-count: 2;

  margin: 0;
  padding-left: 7vw;
  padding-right: 7vw;
  padding-bottom: 8px;
  list-style: none;
}

@media print {
  main {
    float: none;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  nav {
    visibility: none !important;
    float: none;
    width: 0px;
  }
}

nav li {
  padding-bottom: 8px;
}

nav ul li:first-child {
  margin-top: 4px;
}

nav li a {
  display: block;
}

#metadata {
  text-align: right;
}

#metadata * {
  color: #a7a7a7;
  font-size: 90%;
  font-style: normal;
  padding-top: 5px;
  padding-bottom: 5px;
}

#metadata span.to {
  font-size: 70%;
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  margin: 0.67em 0;
  font-weight: 540;
  margin-bottom: 4px;
  padding-bottom: 2px;
  border-bottom: 1px dotted #dddddd;
}

h2 {
  font-weight: 500;
  font-size: 1.4em;
  padding-top: 10px;
}

ol.olitems,
ul.ulitems {
  list-style-position: outside;
  padding-left: 1.4em;
}

p.blurb {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 15%;
  padding-right: 15%;
  color: olive;
  font-size: 1.5em;
}

p.exercise {
  padding-left: 1em;
  text-indent: -1em;
}

p.indent {
  padding-left: 1em;
}

p.exercise::before {
  color: olive;
  content: "§";
  -webkit-user-select: none;
}

mark {
  background: #fdf6e3;
}

hr {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  box-sizing: content-box;
  overflow: visible;
  display: block;
  color: olive;
}

hr.ellipses {
  border: 0;
}

hr.ellipses::before {
  content: "...";
  display: inline-block;
  letter-spacing: 0.6em;
  top: -30px;
  position: relative;
  font-weight: 400;
  font-size: 30px;
}

pre code,
pre code * {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
  font-size: 12px; /* Do not use em, rem, or % here */
}

img {
  border-radius: 10%;
  border-style: none;
  padding: 2.5%;
  width: 45%;
}

figure.left img {
  float: left;
}

figure.right img {
  float: right;
}

div.imgrow::after {
  content: "";
  clear: both;
  display: table;
}

.mathjax {
  overflow-x: scroll;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  background-color: transparent;
}

a[href*=".pdf"] {
  background-image: url("/dist/icon.pdf.png");
}

#metadata time.end {
  background-image: url("/dist/icon.calendar.png");
}

#metadata address {
  background-image: url("/dist/icon.location.png");
}

#metadata #audience {
  background-image: url("/dist/icon.audience.png");
}

a[href*=".pdf"],
#metadata time.end,
#metadata address,
#metadata #audience {
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: calc(20rem / 20);
  max-height: calc(16rem / 20);
  background-size: calc(16rem / 20);
}

footer {
  padding-top: 20px;
  padding-bottom: 10px;
}

footer p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 0.8em;
}
