p.footer {
	white-space: pre-line;
}

h1 {
	font-weight: 500;
	margin-bottom: 4px;
	padding-bottom: 2px;
	border-bottom: 1px dotted #dddddd;
}

h2 {
	font-weight: 800;
	font-size: 140%;
}

p.indentp {
	margin-left: 2%;
}

ol.olitems, ul.ulitems {
	list-style-position: outside;
	padding-left: 1.4em;
}

p.header {
	font-style: italic;
}

p.ellipses {
	text-align: center;
}

span.tick {
	background-color: #ffffe0;
}

pre code {
	font-family: 'Roboto Mono', monospace;
	font-size: 80%
}

a[href^="https://github.com"] {
	background-image: url("/design/icon.github.png");
}

a[href*=".pdf"] {
	background-image: url("/design/icon.pdf.png");
}

a[href^="https://github.com"], a[href*=".pdf"] {
	background-repeat: no-repeat;
	background-position: center right;
	padding-right: calc(18rem / 14);
	min-height: calc(16rem / 14);
	background-size: calc(16rem / 14);
}