p.emailquote, p.footer {
	white-space: pre-line;
}

p.emailquote.level-1 {
	color: #500050;
}

p.emailquote.level-2 {
	color: #744474;
}

h2 {
	font-weight: 500;
	font-size: 120%;
}

pre.codeblock {
	font-family: 'Droid Sans Mono', monospace;
	font-size: 75%;
	tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
}

p.header {
	font-style: italic;
}
