p.footer {
	white-space: pre-line;
}

h2 {
	font-weight: 500;
	font-size: 120%;
}

p.indentp {
	margin-left: 2%;
}

ol.olitems, ul.ulitems {
	list-style-position: outside;
	padding-left: 1.4em;
}

p.header {
	font-style: italic;
}

p.ellipses {
	text-align: center;
}
