p,
pre {
  padding-top: 7px;
  padding-bottom: 7px;
}

div#wrapper {
  top: calc(2.8rem + 8.3vw);
  width: 100%;
}

nav {
  height: calc(2.8rem + 8.3vw);
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 7vw;
  padding-right: 7vw;
  border-bottom: dotted 0.3vw black;
}

nav ul {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  height: 18vw;
}

nav li,
ul#indexfill li {
  list-style: none;
}

nav li {
  float: left;
  padding-top: 2vw;
  padding-right: 4vw;
  font-size: 1rem;
}

nav li:last-child {
  padding-right: 0px;
}

main {
  position: absolute;
  top: calc(2.8rem + 8.3vw);
  height: calc(100% - calc(2.8rem + 8.3vw));
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  padding-left: 5%;
  padding-right: 5%;
}

ul#indexfill li {
  padding: 0;
  font-size: 1em;
  font-weight: 500;
  text-align: left;

  padding-top: 10px;
  padding-bottom: 10px;
}

nav,
main {
  float: none;
  clear: both;
  width: 100%;
  left: 0;
  right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

footer li {
  padding-top: 5px;
  padding-bottom: 5px;
}

figure.left,
figure.right {
  clear: both;
  width: 80%;
  padding-top: 5%;
  padding-left: 0;
  padding-right: 0;
}

div.imgrow::after {
  content: "";
  clear: both;
  display: table;
}
