h1, pre, a {
	font-family: sans-serif;
}

h1 {
	font-weight: 500;
	font-size: 1.9em;
}

pre {
	font-size: 1.4em;
}

ul#indexfill a {
	font-size: 0.6em;
}

div#sidebar {
	float: right;
	padding-right: 20px;
}

div#sidebar li, ul#indexfill li {
	list-style: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

div#sidebar a {
	font-size: 1.6em;
}

ul#indexfill {
	padding-left: 30px;
}

div#main {
	float: left;
	width: auto;
}
