p,
pre {
  padding-top: 7px;
  padding-bottom: 7px;
}

#wrapper {
  top: calc(2.8rem + 8.3vw);
  width: 100%;
}

#sidebar {
  height: calc(2.8rem + 8vw);
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 7vw;
  padding-right: 7vw;
  border-bottom: dotted 0.3vw black;
}

#sidebar ul {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  height: 18vw;
}

#sidebar li,
ul#indexfill li {
  list-style: none;
}

#sidebar li {
  float: left;
  padding-top: 2vw;
  padding-right: 4vw;
  font-size: 1rem;
}

#sidebar li:last-child {
  padding-right: 0px;
}

#indexfill li {
  padding: 0;
  font-size: 1em;
  font-weight: 500;
  text-align: left;

  padding-top: 10px;
  padding-bottom: 10px;
}

#main {
  position: absolute;
  top: calc(2.8rem + 8.3vw);
  height: calc(100% - calc(2.8rem + 8.3vw));
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  padding-left: 5%;
  padding-right: 5%;
}

#sidebar,
#main {
  float: none;
  clear: both;
  width: 100%;
  left: 0;
  right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#footer li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.imgcol-left .imgcol-right {
  display: table;
  clear: both;
  width: 100%;
}

.imgcol-right {
  float: right;
  width: 45%;
  padding: 2.5%;
}
