div#sidebar {
	top: 0;
	right: 0;
	width: 20%;
	position: fixed;
	height: 100%;
}

div#sidebar li {
	list-style: none;
	padding-top: 1px;
	padding-bottom: 1px;
	line-height: 1;
}

div#sidebar a {
	font-size: 130%;
}

div#main {
	top: 0;
	left: 0;
	position: absolute;
	width: 65%;
	height: 100%;
}