div#sidebar {
	right: 15%;
	float: right;
	position: fixed;
}

div#sidebar li {
	list-style: none;
	padding-top: 1px;
	padding-bottom: 1px;
	line-height: 1;
}

div#sidebar a {
	font-size: 130%;
}

div#main {
	float: left;
	width: 75%;
}