@media screen {
  nav {
    top: 0;
    right: 0;
    width: 25%;
    position: fixed;
    height: 100%;
  }

  nav li {
    list-style: none;
    padding-top: 1px;
    padding-bottom: 1px;
    line-height: 1;
  }

  main {
    top: 0;
    left: 0;
    position: absolute;
    width: 60%;
    height: 100%;
  }
}
