h1, pre, a {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-weight: 500;
	font-size: 1.4em;
}

pre {
	font-size: 0.9em;
}

a {
	text-decoration: none;
}

a:link {
	color: #444444;
}

a:visited {
	color: #444444;
}

#wrapper {
	width: 100%;
}

#sidebar {
	padding-left: 30px;
	float: left;
}

#sidebar li {
	list-style: none;
	padding-top: 1px;
	padding-bottom: 1px;
}

#indexfill li {
	list-style: none;
}

ul#indexfill {
	padding-left: 30px;
}

ul#indexfill li:before {
	content: "\00BB \0020";
	color: #888888;
	position: absolute;
	margin-left: -20px;
}

#sidebar a {
	font-size: 1.0em;
}

#main {
	float: left;
}
