h1 {
	font-family: Monaco;
	font-weight: 500;
	font-size: 1.6em;
}

pre {
	font-family: Monaco;
	font-size: 1em;
}

a {
	font-family: Monaco;
	text-decoration: none;
}

a:link {
	color: #444444;
}

a:visited {
	color: #444444;
}

#wrapper {
	width: 100%;
}

#sidebar {
	float: left;
}

#sidebar li {
	list-style: none;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom: 1px solid #eeeeeee;
}

#indexfill li {
	list-style: none;
}

ul#indexfill {
	padding-left: 30px;
}

ul#indexfill li:before {
	content: "\00BB \0020";
	color: #888888;
	position: absolute;
	margin-left: -20px;
}

#sidebar a {
	font-size: 1.2em;
}

#main {
	width: 600px;
	float: left;
}
