@use "sass:math"
@use "palette"
@use "rouge"

// Color palette
$main-bg: palette.$base
$nav-bg: palette.$crust
$pre-bg: palette.$mantle
$mark-bg: palette.$mantle
$main-fg: palette.$text
$nav-fg: palette.$green0
$nav-hover: palette.$green1
$heading-fg: palette.$black
$metadata-fg: palette.$subtext1
$link-fg: palette.$green0
$link-hover: palette.$green1
$blurb-fg: palette.$subtext1
$marker-fg: palette.$subtext0

// Gutter
$gutter-width: 64px

// Responsive design variables
$mobile-max: 575.98px
$mobile-min: 576px

// The size of the images in the nav bar, or the nav bar height on mobile
$nav-height: max(10vw, 10vh)

// Fonts
@font-face
  font-family: Inter
  font-variant-ligatures: common-ligatures
  font-kerning: auto
  font-style: normal
  font-display: swap
  font-weight: 400 700
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2) format('woff2-variations')

@font-face
  font-family: Roboto
  font-variant-ligatures: common-ligatures
  font-kerning: auto
  font-style: normal
  font-display: swap
  font-weight: 400 700
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/roboto-mono:vf@latest/latin-wght-normal.woff2) format('woff2-variations')

:root
  font-family: Inter, sans-serif

body
  margin: 0
  color: $main-fg
  background-color: $main-bg

// Common wrapper code
.wrapper
  height: max(100%, 100vh)
  width: 100vw
  overflow-x: hidden
  align-items: start
  justify-items: center
  display: flex

  & > nav
    flex: 0 0 content

  & > main
    padding-left: math.div($gutter-width, 2)
    padding-right: math.div($gutter-width, 2)

// Mobile: display wrapper as rows; set $gutter-width to half its value
@media screen and (max-width: $mobile-max)
  .wrapper
    flex-direction: column
    row-gap: math.div($gutter-width, 4)

    & > nav
      padding-top: math.div($gutter-width, 6)
      padding-bottom: math.div($gutter-width, 6)

    & > main
      flex: 0 1 auto
      align-self: stretch
      padding-top: math.div($gutter-width, 6)
      padding-bottom: math.div($gutter-width, 6)

// Non-mobile: display wrapper as columns
@media screen and (min-width: $mobile-min)
  .wrapper
    flex-direction: row
    column-gap: math.div($gutter-width, 2)

    & > nav
      padding-top: $gutter-width

    & > main
      flex: 0 1 85ch
      padding-top: $gutter-width

// Common nav
nav
  display: flex
  row-gap: $gutter-width
  background-color: $nav-bg

  & > :first-child
    display: block
    flex: 1 1 auto

  & > :last-child
    flex: 0 0 auto

// On mobile, render the nav horizontally
@media screen and (max-width: $mobile-max)
  nav
    width: 100vw
    flex-flow: row

    & > :first-child
      justify-self: flex-start
      justify-content: flex-start
      padding-left: math.div($gutter-width, 2)

    & > :nth-child(2)
      flex: 1 1 auto
      justify-self: end
      padding-right: math.div($gutter-width, 2)

// On non-mobile, render the nav vertically
@media screen and (min-width: $mobile-min)
  nav
    flex-flow: column

    & > :first-child
      align-self: center
      justify-self: center

// Common code for nav children
nav > :first-child,
nav > :first-child > img#logo
  object-fit: contain
  object-position: top left
  height: $nav-height
  width: calc(0.8128 * #{$nav-height})

nav img#more
  object-fit: contain
  object-position: top right
  height: $nav-height
  width: calc(0.21622 * #{$nav-height})

nav ul
  margin: 0
  padding-left: math.div($gutter-width, 2)
  padding-right: math.div($gutter-width, 2)
  padding-top: math.div($gutter-width, 4)
  padding-bottom: math.div($gutter-width, 4)
  list-style: none

// Mobile nav children: show nav img#more, css hover ul
@media screen and (max-width: $mobile-max)
  nav img#more
    & + ul
      visibility: hidden
      position: absolute
      display: none

    &:hover + ul,
    &:focus-within + ul,
    & + ul:hover
      visibility: visible
      display: block
      background-color: $nav-bg
      width: 100vw

// Non-mobile nav children: hide img#more, show nav ul
@media screen and (min-width: $mobile-min)
  nav
    padding-left: math.div($gutter-width, 2)
    padding-right: math.div($gutter-width, 2)

    & > img#more
      visibility: hidden
      display: none

nav li
  line-height: 30px
  font-size: 1.4rem

  & > span.navidx
    color: $nav-fg
    font-family: Roboto, monospace
    padding-right: 1em

  & > span#navcur
    vertical-align: center
    position: relative
    color: $nav-hover

    &::before
      content: ""
      position: absolute
      width: 100%
      height: 2px
      bottom: 0
      left: 0
      background-color: $nav-hover

nav li a
  color: $nav-fg
  position: relative
  transition: all .35s ease

  &::before
    content: ""
    position: absolute
    width: 100%
    height: 2px
    bottom: 0
    left: 0
    background-color: $nav-hover
    visibility: hidden
    -webkit-transform: scaleX(0)
    transform: scaleX(0)
    -webkit-transition: all 0.3s ease-in-out 0s
    transition: all 0.3s ease-in-out 0s

  &:hover
    color: $nav-hover

    &::before
      visibility: visible
      -webkit-transform: scaleX(1)
      transform: scaleX(1)

#indexfill
  list-style: none
  margin-left: 0
  padding-left: 1rem
  text-indent: -1rem

  & > li
    padding-bottom: 1rem

  & > li::before
    content: "\00BB \0020"
    color: $marker-fg

  & > h2
    text-transform: capitalize

main
  display: block

// Hide the nav bar when printing
@media only print
  main
    width: 100%

  nav
    visibility: none !important
    display: none

h1
  font-size: 1.8rem
  color: $heading-fg

h2
  font-size: 1.4rem
  color: $heading-fg

a
  color: $link-fg
  text-decoration: none

  &:hover
    color: $link-hover

.olitems
  list-style-position: outside
  padding-left: 2rem

.ulitems
  list-style-position: outside
  list-style: none
  padding-left: 2rem

.footer
  list-style-position: outside
  list-style: none
  padding-left: 0rem

  & > li::before
    content: "†"
    color: $marker-fg

.blurb
  color: $blurb-fg
  font-size: 0.8rem
  font-style: oblique 10deg

.exercise
  padding-left: 0rem

  &::before
    content: "§"
    color: $marker-fg

mark
  background: $mark-bg

hr
  box-sizing: content-box
  display: block

hr.ellipses
  border: 0
  margin: 0

hr.ellipses::before,
footer::before
  content: "..."
  letter-spacing: 0.6rem
  color: $blurb-fg
  padding-top: 1rem
  font-weight: bolder
  font-size: 2rem
  position: relative
  display: inline-block

figure
  margin: 0
  padding-top: 1rem
  padding-bottom: 1rem

figure > img
  width: 100%
  height: auto

div.mathjax
  background-color: $pre-bg
  overflow-x: auto
  padding-left: 1rem
  padding-right: 1rem

pre
    & > code.highlight
      background-color: $pre-bg
      overflow-x: auto
      display: block

code.highlight
  padding: 5px
  font-family: Roboto, monospace

#metadata
  font-size: 0.7rem
  color: $metadata-fg
  text-align: right

  & span.to
    padding-left: 1.5px
    padding-right: 1.5px

  & > #timestamp > time.end
    background-image: url("/dist/icon.calendar.svg")

  & > #locations
    background-image: url("/dist/icon.location.svg")

a[href$=".pdf"],
a[href^="https://www.youtube.com"],
a[href^="https://github.com"],
#metadata > #timestamp > time.end,
#metadata > #locations
  background-repeat: no-repeat
  background-position: center right

a[href$=".pdf"]
  background-image: url("/dist/icon.pdf.svg")

a[href^="https://www.youtube.com"]
  background-image: url("/dist/icon.youtube.svg")

a[href^="https://github.com/"]
  background-image: url("/dist/icon.github.svg")

a[href$=".pdf"],
a[href^="https://www.youtube.com"],
a[href^="https://github.com"]
  padding-right: 1.3rem
  background-size: 1rem

#metadata > #timestamp > time.end,
#metadata > #locations
  padding-right: 1rem
  background-size: 0.7rem

footer > p
  margin-top: 1rem
  margin-bottom: 1rem
  font-size: 0.8rem
